/**     colores          **/


/**  Rojo  **/
/**  Rojo Claro   **/
.colorRojoC1 {
    background: #FDEDEC;
}

.colorRojoC2 {
    background: #FADBD8;
}

.colorRojoC3 {
    background: #F5B7B1;
}

.colorRojoC4 {
    background: #F1948A;
}

.colorRojoC5 {
    background: #EC7063;
}

.colorRojoC6 {
    background: #E74C3C;
}

.colorRojoC7 {
    background: #CB4335;
}

.colorRojoC8 {
    background: #B03A2E;
}

.colorRojoC9 {
    background: #943126;
}

.colorRojoC10 {
    background: #78281F;
}

/**  Rojo Osbcuro   **/
.colorRojoO1 {
    background: #F9EBEA;
}

.colorRojoO2 {
    background: #F2D7D5;
}

.colorRojoO3 {
    background: #E6B0AA;
}

.colorRojoO4 {
    background: #D98880;
}

.colorRojoO5 {
    background: #CD6155;
}

.colorRojoO6 {
    background: #C0392B;
}

.colorRojoO7 {
    background: #A93226;
}

.colorRojoO8 {
    background: #922B21;
}

.colorRojoO9 {
    background: #7B241C;
}

.colorRojoO10 {
    background: #641E16;
}


/**  Morado  **/
/**  Morado Claro   **/
.colorMoradoC1 {
    background: #F5EEF8;
}

.colorMoradoC2 {
    background: #EBDEF0;
}

.colorMoradoC3 {
    background: #D7BDE2;
}

.colorMoradoC4 {
    background: #C39BD3;
}

.colorMoradoC5 {
    background: #AF7AC5;
}

.colorMoradoC6 {
    background: #9B59B6;
}

.colorMoradoC7 {
    background: #884EA0;
}

.colorMoradoC8 {
    background: #76448A;
}

.colorMoradoC9 {
    background: #633974;
}

.colorMoradoC10 {
    background: #512E5F;
}

/**  Morado Osbcuro   **/
.colorMoradoO1 {
    background: #F4ECF7;
}

.colorMoradoO2 {
    background: #E8DAEF;
}

.colorMoradoO3 {
    background: #D2B4DE;
}

.colorMoradoO4 {
    background: #BB8FCE;
}

.colorMoradoO5 {
    background: #A569BD;
}

.colorMoradoO6 {
    background: #8E44AD;
}

.colorMoradoO7 {
    background: #7D3C98;
}

.colorMoradoO8 {
    background: #6C3483;
}

.colorMoradoO9 {
    background: #5B2C6F;
}

.colorMoradoO10 {
    background: #4A235A;
}

/**  Azul  **/
/**  Azul Claro   **/
.colorAzulC1 {
    background: #EBF5FB;
}
.colorAzulC2 { 
    background: #AED6F1; }
.colorAzulC3 {
    background: #D6EAF8;
}
.colorAzulC4 {
    background: #85C1E9;
}
.colorAzulC5 {
    background: #5DADE2;
}
.colorAzulC6 {
    background: #3498DB;
}
.colorAzulC7 {
    background: #2E86C1;
}
.colorAzulC8 {
    background: #2874A6;
}
.colorAzulC9 {
    background: #1B4F72;
}
.colorAzulC10 {
    background: #1B4F72;
}

/**  Azul Osbcuro   **/
.colorAzulO1 {
    background: #EAF2F8;
}

.colorAzulO2 {
    background: #D4E6F1;
}

.colorAzulO3 {
    background: #A9CCE3;
}

.colorAzulO4 {
    background: #48C9B0;
}

.colorAzulO5 {
    background: #5499C7;
}

.colorAzulO6 {
    background: #2980B9;
}

.colorAzulO7 {
    background: #2471A3;
}

.colorAzulO8 {
    background: #1F618D;
}

.colorAzulO9 {
    background: #1A5276;
}

.colorAzulO10 {
    background: #154360;
}



/**  AzulVerde  **/
/**  AzulVerde Claro   **/
.colorAzulVerdeC1 {
    background: #E8F8F5;
}

.colorAzulVerdeC2 {
    background: #D1F2EB;
}

.colorAzulVerdeC3 {
    background: #A3E4D7;
}

.colorAzulVerdeC4 {
    background: #76D7C4;
}

.colorAzulVerdeC5 {
    background: #48C9B0;
}

.colorAzulVerdeC6 {
    background: #1ABC9C;
}

.colorAzulVerdeC7 {
    background: #17A589;
}

.colorAzulVerdeC8 {
    background: #148F77;
}

.colorAzulVerdeC9 {
    background: #117864;
}

.colorAzulVerdeC10 {
    background: #0E6251;
}

/**  AzulVerde Osbcuro   **/
.colorAzulVerdeO1 {
    background: #E8F6F3;
}

.colorAzulVerdeO2 {
    background: #D0ECE7;
}

.colorAzulVerdeO3 {
    background: #A2D9CE;
}

.colorAzulVerdeO4 {
    background: #73C6B6;
}

.colorAzulVerdeO5 {
    background: #45B39D;
}

.colorAzulVerdeO6 {
    background: #16A085;
}

.colorAzulVerdeO7 {
    background: #138D75;
}

.colorAzulVerdeO8 {
    background: #117A65;
}

.colorAzulVerdeO9 {
    background: #0E6655;
}

.colorAzulVerdeO10 {
    background: #0B5345;
}


/**  Verde  **/
/**  Verde Claro   **/
.colorVerdeC1 {
    background: #EAFAF1;
}

.colorVerdeC2 {
    background: #D5F5E3;
}

.colorVerdeC3 {
    background: #ABEBC6;
}

.colorVerdeC4 {
    background: #82E0AA;
}

.colorVerdeC5 {
    background: #58D68D;
}

.colorVerdeC6 {
    background: #2ECC71;
}

.colorVerdeC7 {
    background: #28B463;
}

.colorVerdeC8 {
    background: #239B56;
}

.colorVerdeC9 {
    background: #1D8348;
}

.colorVerdeC10 {
    background: #186A3B;
}

/**  Verde Osbcuro   **/
.colorVerdeO1 {
    background: #D4EFDF;
}

.colorVerdeO2 {
    background: #D4EFDF;
}

.colorVerdeO3 {
    background: #A9DFBF;
}

.colorVerdeO4 {
    background: #7DCEA0;
}

.colorVerdeO5 {
    background: #52BE80;
}

.colorVerdeO6 {
    background: #27AE60;
}

.colorVerdeO7 {
    background: #229954;
}

.colorVerdeO8 {
    background: #1E8449;
}

.colorVerdeO9 {
    background: #196F3D;
}

.colorVerdeO10 {
    background: #145A32;
}

/**  Amarillo  **/
/**  Amarillo Claro   **/
.colorAmarilloC1 {
    background: #D5F5E3;
}

.colorAmarilloC2 {
    background: #FCF3CF;
}

.colorAmarilloC3 {
    background: #F9E79F;
}

.colorAmarilloC4 {
    background: #F7DC6F;
}

.colorAmarilloC5 {
    background: #F4D03F;
}

.colorAmarilloC6 {
    background: #F1C40F;
}

.colorAmarilloC7 {
    background: #D4AC0D;
}

.colorAmarilloC8 {
    background: #B7950B;
}

.colorAmarilloC9 {
    background: #9A7D0A;
}

.colorAmarilloC10 {
    background: #7D6608;
}

/**  Amarillo Osbcuro   **/
.colorAmarilloO1 {
    background: #FEF5E7;
}

.colorAmarilloO2 {
    background: #FDEBD0;
}

.colorAmarilloO3 {
    background: #FAD7A0;
}

.colorAmarilloO4 {
    background: #F8C471;
}

.colorAmarilloO5 {
    background: #F5B041;
}

.colorAmarilloO6 {
    background: #F39C12;
}

.colorAmarilloO7 {
    background: #D68910;
}

.colorAmarilloO8 {
    background: #B9770E;
}

.colorAmarilloO9 {
    background: #9C640C;
}

.colorAmarilloO10 {
    background: #7E5109;
}


/**  otros	   **/
.colorRojo {
    background: #FF0040;
}

.colorMorado {
    background: #DA70D6;
}
/**  HotPink	   **/
.colorRosa {
    background: #FF69B4;
}
/**  BurlyWood	   **/
.colorCafe {
    background: #DEB887;
}

.colorNaranja {
    background: #FF8000;
}


.colorVerde {
    background: #23FA67;
}

.colorVerdeClaro {
    background: #A1F82B;
}

.colorAmarillo {
    background: #F7FE2E;
}
.colorAzul {
    background: #4634F9;
}

.colorAzulClaro {
    background: #22F6F0;
}
.colorBlanco {
    background: #D8D8D8;
}

.colorGris {
    background: silver;
}

.colorNegro {
    background: #190707;
}

.colorRojoLightCoral {
    background: #F08080;
}

.colorRojoSalmon {
    background: #FA8072;
}

.colorRojoIndianRed {
    background: #CD5C5C;
}

.colorRojoRed {
    background: #FF0000;
}

.colorRojoCrimson {
    background: #DC143C;
}

.colorRojoFireBrick {
    background: #B22222;
}

.colorRojoBrown {
    background: #A52A2A;
}

.colorRojoDarkRed {
    background: #8B0000;
}

.colorRojoMaroon {
    background: #800000;
}

.colorRosaMistyRose {
    background: #FFE4E1;
}

.colorRosaPink {
    background: #FFC0CB;
}

.colorRosaLightPink {
    background: #FFB6C1;
}

.colorRosaHotPink {
    background: #FF69B4;
}

.colorRosaRosyBrown {
    background: #BC8F8F;
}

.colorRosaPaleVioletRed {
    background: #DB7093;
}

.colorRosaDeepPink {
    background: #FF1493;
}

.colorRosaMediumVioletRed {
    background: #C71585;
}

.colorNaranjaPapayaWhip {
    background: #FFEFD5;
}

.colorNaranjaBlanchedAlmond {
    background: #FFEBCD;
}

.colorNaranjaBisque {
    background: #FFE4C4;
}

.colorNaranjaMoccasin {
    background: #FFE4B5;
}

.colorNaranjaPeachPuff {
    background: #FFDAB9;
}

.colorNaranjaNavajoWhite {
    background: #FFDEAD;
}

.colorNaranjaLightSalmon {
    background: #FFA07A;
}

.colorNaranjaDarkSalmon {
    background: #E9967A;
}

.colorNaranjaOrange {
    background: #FFA500;
}

.colorNaranjaDarkOrange {
    background: #FF8C00;
}

.colorNaranjaCoral {
    background: #FF7F50;
}

.colorNaranjaTomato {
    background: #FF6347;
}

.colorNaranjaOrangeRed {
    background: #FF4500;
}

.colorCaféWheat {
    background: #F5DEB3;
}

.colorCaféBurlyWood {
    background: #DEB887;
}

.colorCaféTan {
    background: #D2B48C;
}

.colorCaféSandyBrown {
    background: #F4A460;
}

.colorCaféGoldenrod {
    background: #DAA520;
}

.colorCaféPeru {
    background: #CD853F;
}

.colorCaféDarkGoldenrod {
    background: #B8860B;
}

.colorCaféChocolate {
    background: #D2691E;
}

.colorCaféSienna {
    background: #A0522D;
}

.colorCaféSaddleBrown {
    background: #8B4513;
}

.colorAmarilloLightYellow {
    background: #FFFFE0;
}

.colorAmarilloCornsilk {
    background: #FFF8DC;
}

.colorAmarilloLemonChiffon {
    background: #FFFACD;
}

.colorAmarilloLightGoldenrodYellow {
    background: #FAFAD2;
}

.colorAmarilloPaleGoldenrod {
    background: #EEE8AA;
}

.colorAmarilloKhaki {
    background: #F0E68C;
}

.colorAmarilloYellow {
    background: #FFFF00;
}

.colorAmarilloGold {
    background: #FFD700;
}

.colorAmarilloDarkKhaki {
    background: #BDB76B;
}

.colorVerdeGreenYellow {
    background: #ADFF2F;
}

.colorVerdeChartreuse {
    background: #7FFF00;
}

.colorVerdeLawnGreen {
    background: #7CFC00;
}

.colorVerdeYellowGreen {
    background: #9ACD32;
}

.colorVerdeOliveDrab {
    background: #6B8E23;
}

.colorVerdeOlive {
    background: #808000;
}

.colorVerdeDarkOliveGreen {
    background: #556B2F;
}

.colorVerdePaleGreen {
    background: #98FB98;
}

.colorVerdeLightGreen {
    background: #90EE90;
}

.colorVerdeMediumSpringGreen {
    background: #00FA9A;
}

.colorVerdeSpringGreen {
    background: #00FF7F;
}

.colorVerdeLime {
    background: #00FF00;
}

.colorVerdeDarkSeaGreen {
    background: #8FBC8F;
}

.colorVerdeLimeGreen {
    background: #32CD32;
}

.colorVerdeMediumSeaGreen {
    background: #3CB371;
}

.colorVerdeSeaGreen {
    background: #2E8B57;
}

.colorVerdeForestGreen {
    background: #228B22;
}

.colorVerdeGreen {
    background: #8000;
}

.colorVerdeDarkGreen {
    background: #6400;
}

.colorAzulVerdeLightCyan {
    background: #E0FFFF;
}

.colorAzulVerdePaleTurquoise {
    background: #AFEEEE;
}

.colorAzulVerdeAquamarine {
    background: #7FFFD4;
}

.colorAzulVerdeAqua / Cyan {
    background: #00FFFF;
}

.colorAzulVerdeTurquoise {
    background: #40E0D0;
}

.colorAzulVerdeMediumTurquoise {
    background: #48D1CC;
}

.colorAzulVerdeDarkTurquoise {
    background: #00CED1;
}

.colorAzulVerdeMediumAquamarine {
    background: #66CDAA;
}

.colorAzulVerdeLightSeaGreen {
    background: #20B2AA;
}

.colorAzulVerdeCadetBlue {
    background: #5F9EA0;
}

.colorAzulVerdeDarkCyan {
    background: #008B8B;
}

.colorAzulVerdeTeal {
    background: #8080;
}

.colorAzulLavender {
    background: #E6E6FA;
}

.colorAzulBlueWeb {
    background: #CEE7FF;
}

.colorAzulPowderBlue {
    background: #B0E0E6;
}

.colorAzulLightBlue {
    background: #ADD8E6;
}

.colorAzulLightSkyBlue {
    background: #87CEFA;
}

.colorAzulSkyBlue {
    background: #87CEEB;
}

.colorAzulLightSteelBlue {
    background: #B0C4DE;
}

.colorAzulDeepSkyBlue {
    background: #00BFFF;
}

.colorAzulCornflowerBlue {
    background: #6495ED;
}

.colorAzulDodgerBlue {
    background: #1E90FF;
}

.colorAzulSteelBlue {
    background: #4682B4;
}

.colorAzulRoyalBlue {
    background: #41690;
}

.colorAzulBlue {
    background: #0000FF;
}

.colorAzulMediumBlue {
    background: #0000CD;
}

.colorAzulDarkBlue {
    background: #00008B;
}

.colorAzulNavy {
    background: #80;
}

.colorAzulMidnightBlue {
    background: #191970;
}

.colorVioletaThistle {
    background: #D8BFD8;
}

.colorVioletaPlum {
    background: #DDA0DD;
}

.colorVioletaViolet {
    background: #EE82EE;
}

.colorVioletaOrchid {
    background: #DA70D6;
}

.colorVioletaFuchsia / Magenta {
    background: #FF00FF;
}

.colorVioletaMediumPurple {
    background: #9370DB;
}

.colorVioletaMediumOrchid {
    background: #BA55D3;
}

.colorVioletaMediumSlateBlue {
    background: #7B68EE;
}

.colorVioletaSlateBlue {
    background: #6A5ACD;
}

.colorVioletaBlueViolet {
    background: #8A2BE2;
}

.colorVioletaDarkViolet {
    background: #9400D3;
}

.colorVioletaDarkOrchid {
    background: #9932CC;
}

.colorVioletaDarkMagenta {
    background: #8B008B;
}

.colorVioletaPurple {
    background: #800080;
}

.colorVioletaDarkSlateBlue {
    background: #483D8B;
}

.colorVioletaIndigo {
    background: #4B0082;
}

.colorBlancoWhite {
    background: #FFFFFF;
}

.colorBlancoWhiteSmoke {
    background: #F5F5F5;
}

.colorBlancoSnow {
    background: #FFFAFA;
}

.colorBlancoSeashell {
    background: #FFF5EE;
}

.colorBlancoLinen {
    background: #FAF0E6;
}

.colorBlancoAntiqueWhite {
    background: #FAEBD7;
}

.colorBlancoOldLace {
    background: #FDF5E6;
}

.colorBlancoFloralWhite {
    background: #FFFAF0;
}

.colorBlancoIvory {
    background: #FFFFF0;
}

.colorBlancoBeige {
    background: #F5F5DC;
}

.colorBlancoHoneydew {
    background: #F0FFF0;
}

.colorBlancoMintCream {
    background: #F5FFFA;
}

.colorBlancoAzure {
    background: #F0FFFF;
}

.colorBlancoAliceBlue {
    background: #F0F8FF;
}

.colorBlancoGhostWhite {
    background: #F8F8FF;
}

.colorBlancoLavenderBlush {
    background: #FFF0F5;
}

.colorGrisGainsboro {
    background: #DCDCDC;
}

.colorGrisLightGrey {
    background: #D3D3D3;
}

.colorGrisSilver {
    background: #C0C0C0;
}

.colorGrisDarkGray {
    background: #A9A9A9;
}

.colorGrisLightSlateGray {
    background: #778899;
}

.colorGrisSlateGray {
    background: #708090;
}

.colorGrisGray {
    background: #808080;
}

.colorGrisDimGray {
    background: #696969;
}

.colorGris#1C1C1C {
    background: #2F4F4F;
}

.colorGrisBlack {
    background: #190707;
}
