<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--     
    <add name="ModeloCatalogoSistema" connectionString="metadata=res://*/ModeloCatalogoSistema.csdl|res://*/ModeloCatalogoSistema.ssdl|res://*/ModeloCatalogoSistema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGADOS\SQLEXPRESS;initial catalog=DRP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloControles" connectionString="metadata=res://*/ModeloControles.csdl|res://*/ModeloControles.ssdl|res://*/ModeloControles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGADOS\SQLEXPRESS;initial catalog=DRP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloEntidad" connectionString="metadata=res://*/ModeloEntidad.csdl|res://*/ModeloEntidad.ssdl|res://*/ModeloEntidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGADOS\SQLEXPRESS;initial catalog=DRP;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloDRP" connectionString="metadata=res://*/ModeloDRP.csdl|res://*/ModeloDRP.ssdl|res://*/ModeloDRP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGADOS\SQLEXPRESS;initial catalog=DRP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloCatalogoSistema" connectionString="metadata=res://*/ModeloCatalogoSistema.csdl|res://*/ModeloCatalogoSistema.ssdl|res://*/ModeloCatalogoSistema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGADOS\SQLEXPRESS;initial catalog=DRP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloConfiguracion" connectionString="metadata=res://*/ModeloConfiguracion.csdl|res://*/ModeloConfiguracion.ssdl|res://*/ModeloConfiguracion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGADOS\SQLEXPRESS;initial catalog=DRP;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloFLujo" connectionString="metadata=res://*/ModeloFlujo.csdl|res://*/ModeloFlujo.ssdl|res://*/ModeloFlujo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGADOS\SQLEXPRESS;initial catalog=DRP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloCliente" connectionString="metadata=res://*/ModeloCliente.csdl|res://*/ModeloCliente.ssdl|res://*/ModeloCliente.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FGADOS\SQLEXPRESS;initial catalog=DRP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
    -->
    <add name="ModeloCatalogoSistema" connectionString="metadata=res://*/ModeloCatalogoSistema.csdl|res://*/ModeloCatalogoSistema.ssdl|res://*/ModeloCatalogoSistema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5074.site4now.net;initial catalog=DB_A72B95_drp ;persist security info=True;user id=DB_A72B95_drp_admin;password=fga123456#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloControles" connectionString="metadata=res://*/ModeloControles.csdl|res://*/ModeloControles.ssdl|res://*/ModeloControles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5074.site4now.net;initial catalog=DB_A72B95_drp ;persist security info=True;user id=DB_A72B95_drp_admin;password=fga123456#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloEntidad" connectionString="metadata=res://*/ModeloEntidad.csdl|res://*/ModeloEntidad.ssdl|res://*/ModeloEntidad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5074.site4now.net;initial catalog=DB_A72B95_drp ;persist security info=True;user id=DB_A72B95_drp_admin;password=fga123456#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloDRP" connectionString="metadata=res://*/ModeloDRP.csdl|res://*/ModeloDRP.ssdl|res://*/ModeloDRP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5074.site4now.net;initial catalog=DB_A72B95_drp ;persist security info=True;user id=DB_A72B95_drp_admin;password=fga123456#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloCatalogoSistema" connectionString="metadata=res://*/ModeloCatalogoSistema.csdl|res://*/ModeloCatalogoSistema.ssdl|res://*/ModeloCatalogoSistema.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5074.site4now.net;initial catalog=DB_A72B95_drp ;persist security info=True;user id=DB_A72B95_drp_admin;password=fga123456#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloConfiguracion" connectionString="metadata=res://*/ModeloConfiguracion.csdl|res://*/ModeloConfiguracion.ssdl|res://*/ModeloConfiguracion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5074.site4now.net;initial catalog=DB_A72B95_drp ;persist security info=True;user id=DB_A72B95_drp_admin;password=fga123456#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloFLujo" connectionString="metadata=res://*/ModeloFlujo.csdl|res://*/ModeloFlujo.ssdl|res://*/ModeloFlujo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5074.site4now.net;initial catalog=DB_A72B95_drp ;persist security info=True;user id=DB_A72B95_drp_admin;password=fga123456#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ModeloCliente" connectionString="metadata=res://*/ModeloCliente.csdl|res://*/ModeloCliente.ssdl|res://*/ModeloCliente.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5074.site4now.net;initial catalog=DB_A72B95_drp;persist security info=True;user id=DB_A72B95_drp_admin;password=fga123456#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  

  <appSettings>
    <add key="IdAplicacion" value="ArqSigNetv10" />
    <add key="TituloSistema" value="DRP" />
    <add key="UrlSistema" value="http://localhost:57022/Inicio.aspx" />
    <add key="ModeloPorDefecto" value="ModeloDRP" />
    <add key="Servidor" value="FGADOS\SQLEXPRESS" />
    <add key="BaseDatos" value="DRP" />
    <add key="Proveedor" value="System.Data.SqlClient" />
    <add key="MetaData" value="res://*/ModeloDRP.csdl|res://*/ModeloDRP.ssdl|res://*/ModeloDRP.msl" />
    <add key="InfoSeguridad" value="Integrated Security=false ;" />
    <add key="GuardarSesion" value="BaseDatos" />
    <add key="TemaPorDefecto" value="AzulColoresPasteles" />
    <add key="TipoCuenta" value="CuentaSistema" />
    <add key="TipoAutentificacion" value="Cuenta" />
    <add key="Cultura" value="es-MX" />
    <add key="IdIdioma" value="1" />
    <add key="TipoSistema" value="WEB" />
    <add key="RutaXML" value="C:\Sistemas\MENet\Codigo\Aplicaciones\Sitio\Comun\XML\Configuracion.xml" />
    <add key="IdSuscriptor" value="1" />
    <add key="Ambiente" value="Produccion" />
    <!--   <add key="Ambiente" value="Desarrollo" />  -->
    <add key="PermisoAgregar" value="A" />
    <add key="PermisoModificar" value="M" />
    <add key="PermisoEliminar" value="E" />
    <add key="PermisoConsultar" value="C" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PaginaInicio" value="inicio.aspx" />
    <add key="PaginaAcceso" value="acceso.aspx" />
    <add key="PaginaMenu" value="menu.aspx" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"  executionTimeout="500"  />
    <sessionState timeout="160" />

    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>